node_modules/
build/
dist/
dist-ssr/
coverage/
.DS_Store
*.log
*.tsbuildinfo
.eslintcache

# Local env files
.env*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Temp scripts
fix-spacing.cjs


# test
test_*.js
test_*.cjs